.input-group .form-select {
  width: 100%;
  border-radius: var(--bs-border-radius) !important;
}

#tombolCari {
  display: none;
}

.form-control:disabled {
  background-color: #d9d9d9 !important;
}
