<! --- Delete This Instruction Before Saving .env --- !>

1. Fill out required .env variables below [example: DB_NAME=database]
2. Delete instructions and explanations
3. Save the file as ".env"

/** .env variables explanation
  * 
  * BASEURL location of public directory
  * DB_HOST Database host name (e.g. localhost, etc.)
  * DB_USER Database username (e.g. root, etc.)
  * DB_PASS Database password (if there is any)
  * DB_NAME Database name
  *
  */

BASEURL=

DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=
